ul {
  margin: 0px;
}

.node {
  width:fit-content;
  background-color: #fff8f8;
}

div[data-deleted=true] {
  background-color: #b9b9b9;
}

.node:hover {
  background-color: yellow;
}

.node.selected {
  background-color: yellow;
  border: dashed;
  border-width: 2px;
}

button {
  flex-grow: 1;
  max-height: 20px;
}

.container {
    display: flex;
    border: solid
}

.container-nested {
    display: flex;
    flex-direction: column;
}

.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

.cached-tree {
  background-color: #1955b1;
}

.db-tree {
  background-color: #b11919;
}

.commands-cache {
   display:flex;
   background-color: #a0bde9;

}

.commands-db {
   display:flex;
   background-color: #e3adad;
}

.ui-dialog {
  border: solid;
}

.modal-template {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}